spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost::5432/
    username: embarkx
    password: embarkx
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

